@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* common css starts */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: urbanist;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
/* header{
    position: sticky;
    top: 39px;
    z-index: 999;
} */
.cmmn-btn{
    padding: 16px 40px;
    background-color: rgba(98, 69, 213, 0.2);
    color: #192252;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    transition: all linear .4s;
}
.cmmn-btn:hover{
    background-color: #6345d5;
    color: white;
}
.container{
    margin: 0 auto;
    width: 1320px;
}
.flx{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* common css ends */

/* navbar starts */
.menu{
    margin: 39px 120px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(2px);
}
.logo img{
    width: 100%;
}
.menu ul{
    width: 45%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.menu ul li{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.menu ul li a{
    color: black;
    transition: all linear .4s;
    position: relative;
}
.menu ul li a:hover{
    color: blue;
}
.menu ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 103%;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear .3s;
}
.menu ul li a:hover::after{
    width: 105%;
}

/* navbar ends */

/* banner css starts */
#banner{
    /* margin: 115px 120px 0; */
    margin: 0;
}
/* shade css starts */
.shade-1, .shade-2, .shade-3{
    position: absolute;
}
.shade-1{
    top: 0;
    right: 0;
    z-index: -90;
}
.shade-2{
    top: 0;
    right: 0%;
    z-index: -94;
}
.shade-3{
    top: 25%;
    left: 0;
    z-index: -94;
}
/* shade css ends */
.banner-part{
    margin: 115px 120px 0;
    display: flex;
    justify-content: space-between;
    gap: 94px;
}
h1{
    margin-top: 9px;
    width: 503px;
    color: #192252;
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
    text-transform: capitalize;
}

#banner p{
    margin-top: 40px;
    width: 332px;
    color: #848fac;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.banner-btns{
    margin-top: 40px;
    display: flex;
    gap: 24px;
}
.banner-img{
    width: 683px;
}
/* banner css ends */

/* poster css starts */
#poster{
    margin-top: 660px;
    height: 740px;
    background-color: #201353;
    position: relative;
}
.poster-img{
    width: 1240px;
    border-radius: 24px;
    position: absolute;
    top: -60%;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);
}
.counter-sec{
    margin: 100px 0 32px;
    padding: 48px;
    width: 100%;
    max-width: 1240px;
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}
.prt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-transform: uppercase;
}
.prt h3{
    font-size: 48px;
    font-weight: 700;
}
.prt p{
    color: rgba(255, 255, 255, 0.64);
    font-size: 20px;
    font-weight: 500;
}
p.dash{
    color: rgba(255, 255, 255, 0.2);
    width: 2px;
    height: 32px;
    font-size: 30px;
}

/* poster css ends */

/* dashboard css starts */
#dashboard{
    margin-top: 0;
    background-color: #201353;
}
#dashboard h2{
    padding-top: 100px;
    width: 514px;
    color: white;
    font-size: 52px;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}
.card-section{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cards{
    padding: 30px;
    width: 100%;
    max-width: 368px;
    background-color: #2c1a74;
    border-radius: 16px;
    transition: all linear .3s;
}
.cards:hover{
    background-color: white;
}
.cards .head{
    display: flex;
    gap: 11px;
}
.head i{
    font-size: 26px;
    color: white;
}
.cards:hover .head i{
    color: #6245d5;
}
.head h5{
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
}
.cards:hover .head h5{
    color: #192252;
}
.cards p{
    margin-top: 16px;
    width: 320px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.cards:hover p{
    color: #848fac;
}
.bars{
    margin-top: 24px;
    display: flex;
}
.bar:first-child{
    width: 173px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    position: relative;
}
.cards:hover .bar:first-child{
    background-color: #6245d5;
}
/* .bar:first-child::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: all linear .3s;
}
.bar:first-child::after{
    width: 100%;
    background-color: #6245d5;
} */
.bar:last-child{
    width: 147px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2px;
}
.cards:hover .bar:last-child{
    background-color: #eff3fa;
}
.img-sec{
    padding-top: 100px;
}
.img-sec p{
    margin: 30px 0 0 80px;
    width: 555px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 180%;
    text-transform: capitalize;
}
.group-img{
    margin-top: 88px;
    width: 731px;
}
/* dashboard css ends */

/* pay & recieve css starts */
#pay-receive{
    margin-top: 100px;
}
.video img{
    max-width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 24px;
    transition: all ease-in-out 1s;
}
.video img:hover{
    transform: rotateY(180deg);
}
.offer-details h2{
    margin-top: 30px;
    width: 514px;
    color: #192252;
    font-size: 52px;
    font-weight: 700;
    line-height: 120%;
}
.offer-details p{
    margin-top: 24px;
    max-width: 421px;
    color: #848fac;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.offers{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
}
.offer-list{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 29px;
}
.offer-list i{
    font-size: 22px;
    color: #219653;
}
.offer-list p{
    margin: 0;
    color: #192252;
    font-size: 20px;
    font-weight: 600;
}
.support{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.support p{
    color: #848fac;
    font-size: 24px;
    font-weight: 500;
}
.companies{
    display: flex;
    align-items: center;
    gap: 100px;
}
.company{
    width: 100%;
    object-fit: cover;
}
.company1, .company5{
    max-width: 90px;
}
.company2, .company4{
    max-width: 100px;
}
.company3{
    max-width: 150px;
}

/* pay & recieve css ends */

/* plan css starts */
#plan{
    margin-top: 100px;
}
#plan h2{
    color: #192252;
    font-size: 52px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}
#plan .pp{
    margin-top: 24px;
    color: #848fac;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.package-planning{
    display: flex;
    justify-content: space-around;
}
.package-sector{
    margin-top: 64px;
}
.packages{
    margin-top: 24px;
    padding: 24px;
    width: 515px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid #eff3fa;
    border-radius: 24px;
    cursor: pointer;
    transition: all linear .3s;
}
.packages:hover{
    background-color: #6245d5;
    transform: translateY(-15%);
}
.para{
    display: flex;
    align-items: center;
    gap: 24px;
}
.para input{
    width: 24px;
    height: 24px;
}
.package-type h5{
    color: #192252;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.packages:hover .package-type h5{
    color: white;
}
.package-type p{
    margin-top: 8px;
    width: 236px;
    color: #848fac;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.packages:hover .package-type p{
    color: rgba(255, 255, 255, 0.64);
}
.price{
    display: flex;
    align-items: center;
    gap: 5px;
}
.price h4{
    color: #192252;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.packages:hover .price h4{
    color: white;
}
.price p{
    color: #848fac;
    font-size: 16px;
    font-weight: 500;
}
.packages:hover .price p{
    color: rgba(255, 255, 255, 0.64);
}
.planning-sector{
    margin-top: 88px;
    padding: 48px;
    width: 525px;
    height: 544px;
    background-color: #f7f7f7;
    border-radius: 16px;
}
/* toggle button starts */
.toggle-btn{
    width: 190px;
    height: 52px;
    display: inline-block;
    position: relative;
}
.toggle-cbox{
    display: none;
}
.slider{
    background-color: rgb(207, 207, 207);
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}
.slider::before{
    content: "monthly";
    width: 190px;
    height: 52px;
    background-color: white;
    color: #848fac;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear .4s;
}
.toggle-cbox:checked + .slider::before{
    content: "yearly";
    background-color: #fc9770;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(165px);
}
.slider::after{
    content: "monthly";
    width: 190px;
    height: 52px;
    background-color: white;
    color: #848fac;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 0;
    transition: all linear .4s;
}
.toggle-cbox:checked + .slider::before{
    content: "yearly";
    background-color: #fc9770;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(165px);
}

/* toggle button ends */
.features{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 53px;
}
.feature-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-detail p{
    color: #192252;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}
.feature-detail i{
    color: #6245d5;
    font-size: 18px;
}
/* plan css ends */

/* review css starts */
#review{
    margin-top: 100px;
    height: 878px;
    background-color: #201353;
}
.opinion-sec{
    margin-top: 124px;
}
.opinion-sec h2{
    width: 448px;
    color: white;
    font-size: 52px;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}
.opinion-sec p{
    margin-top: 24px;
    width: 434px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.mark{
    margin: 64px 0 24px 0;
    width: 66px;
}
.review-slider{
    margin-top: 48px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.review-img{
    display: flex;
    align-items: center;
    gap: 24px;
}
.review-img img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.review-slider-btn{
    width: 65px;
    height: 65px;
    background-color: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.65);
    border-radius: 50%;
    cursor: pointer;
    transition: all linear .3s;
}
.review-slider-btn i{
    color: white;
    font-size: 22px;
}
.review-slider-btn:hover{
    background-color: white;
}
.review-slider-btn:hover i{
    color: #192252;
}

/* form starts */
.form-sec{
    margin-top: 124px;    
    padding: 80px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.12);
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    border-radius: 24px;
}
.form-sec img{
    width: 16%;
}
.form-sec h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form label{
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
}
.mail{
    padding: 0 1rem;
    width: 440px;
    height: 52px;
    color: #848fac;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-transform: lowercase;
}
.mail:focus{
    outline: 0;
}
.txtarea{
    padding: 1rem 1rem;
    width: 440px;
    height: 80px;
    color: #848fac;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.txtarea:focus{
    outline: 0;
}
.form-btn{
    margin-top: 16px;
    background-color: rgba(252, 152, 112, 0.3);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    transition: all linear .3s;
    cursor: pointer;
}
.form-btn:hover{
    background-color: #fc9770;
}
.free-trial a{
    color: white;
    position: relative;
}
.free-trial a::after{
    content: "";
    width: 0;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear .3s;
}
.free-trial a:hover::after{
    width: 105%;
}

/* form ends */

/* review css ends */

/* footer css starts */
footer{
    padding-top: 100px;
    height: 500px;
    background-color: #201353;
}
.foot-sec{
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.foot-img img{
    width: 58%;
}
.foot-img p{
    margin-top: 8px;
    max-width: 332px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.footer-links{
    display: flex;
    gap: 100px;
}
.links{
    margin-top: 1px;
}
.links ul{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.links ul li h5{
    margin-bottom: 16px;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}
.links ul li a{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
}
.links ul li a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear .3s;
}
.links ul li a:hover::after{
    width: 105%;
}
.copyright-sec{
    margin: 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.social-links{
    display: flex;
    gap: 16px;
}
.sc-link{
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cac0f3;
    border-radius: 50%;
    transition: all linear .3s;
    cursor: pointer;
}
.sc-link i{
    color: white;
}
.sc-link:hover{
    background-color: white;
}
.sc-link:hover i{
    color: #201353;
}

/* footer css ends */

